/* QUICK AND DIRTY STYLES */

html, body {
  margin: 0;
  background-color: #F8F8F8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 700px;
  margin: auto;
}

h1 {
  font-style: italic;
}

button {
  margin-left: 10px;
  padding: 4px 10px;
  background-color: #C2E3FF;
  border: 1px solid rgba(0, 0, 200, 0.2);
  border-radius: 4px;
  font-weight: 600;

  &:hover {
    background-color: #A0CEFF;
  }
  &:focus {
    outline: none;
  }
}

.sections {
  position: relative;
}

section {
  position: relative;
  width: 100%;
  padding: 15px;
  background: #E0F4E0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  h3 {
    margin-top: 0;
  }

  label {
    font-size: 12px;
  }

  section .row {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#search {
  border-bottom: 0;
}

#results {
  position: absolute;
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: #E8EEFB;

  p {
    line-height: 24px;
  }

  .errorTitle {
    display: none;
  }

  &.error {
    color: #CC0000;

    .outputTitle {
      display: none;
    }
    .errorTitle {
      display: block;
    }
  }
}
